{% extends "templates/base.html" %} {% block content %}
<div class="well well-lg">
	<h1>Welcome to the new FIJI Files!</h1>
	<p>Click on a department to view files.</p>
	<br>
	<h3>Useful links:</h3>
	<ul>
		<style>
.link {
	color: #d3d3d3;
}

.link:hover {
	color: #a3a3a3;
}
</style>
		<li><a class="link"
			href="https://sites.google.com/a/rosefiji.com/fiji-files/">Old
				FIJI Files site</a></li>
		<li><a class="link"
			href="http://www.rose-hulman.edu/offices-and-services/registrar/calendars-schedules.aspx">Academic
				Calendars</a></li>
		<li><a class="link"
			href="https://prod11gbss8.rose-hulman.edu/BanSS/twbkwbis.P_WWWLogin">Banner
				Web</a></li>
		<li><a class="link" href="http://rosefiji.com/">Chapter
				Website</a></li>
		<li><a class="link"
			href="http://www.rose-hulman.edu/course-catalog.aspx">Course
				Catalog</a></li>
	</ul>
</div>
{% endblock %}
