<!DOCTYPE HTML>
<html>
<head>
<title>Fiji Files</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="content">
		<div class="wrap">
			<div class="grid">
				<h2>Fiji Files</h2>
				<img src="https://sites.google.com/a/rosefiji.com/chapter-website/_/rsrc/1282395849858/config/customLogo.gif?revision=3" />
				<br><br><h3>Coming Soon</h3>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="footer"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</body>
</html>