{% extends "templates/base.html" %}
{% block content %}
				<h1 class="page-header">{{dept}} - {{departments[dept]}}</h1>
				<br>
				{% for course in courses %}
				<p class="lead">{{course}}</p>
				<table class="table table-striped table-bordered"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
                            <th>Type</th>							
							<th>Term</th>
							<th>Professor</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						{% for f in files[course] %}<tr>
							<td data-toggle="tooltip" data-placement="right" title="View File"><a href="{{f.url}}"><span class="glyphicon glyphicon-link"></span></a></td>
							<td>{{f.file_type}}</td>
							<td>{{f.get_string_termcode()}}</td>							
                            <td>{{f.professor}}</td>
							<td>{{f.comments}}</td>
						</tr>{% endfor %}
					</tbody>
				</table>
				<br>
				{% else %}
				<p class="lead">This department has no files yet!</p>
				{% endfor %}
{% endblock %}